@import "tailwindcss";

* {
  box-sizing: border-box;
}
body {
  background-color: var(--light-gray-3);
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "InterLight";
  src: url("../../assets/fonts/Inter_18pt-Light.ttf") format("truetype");
}

@theme {
  --font-inter: "Inter", sans-serif;
}
